#GridHeader-container{
  width: 100%;
  background: #f2f2f2;
}

#Grid-controls{
  display: block;
  text-align: left;
  padding: 20px;
  background: #f2f2f2;
}

#Grid-content{
  padding-top: 5px;
  background: #222;
  width: 100%;
}

#Grid-add-button{
  height: 40px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid grey;
  background: ghostwhite;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif !important;
  cursor: pointer;
}

#Grid-add-button:active{
  background: lightgray;
}

#Grid-add-button:focus{
  outline: none;
}

.GridCell-content{
  background: #f2f2f2;
  height: 200px;
  width: calc(25% - 22px);
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  float: left;
}

.name{
  display: inline-block;
}

.total{
  display: block;
}

.name, .total{
  display:
}

.addButton, .subButton{
  height: 40px;
  width: calc(50% - 10px);
  border-radius: 3px;
  border: 1px solid grey;
  background: ghostwhite;
  cursor: pointer;
  margin: 5px;
}

.addButton:focus, .subButton:focus{
  outline: none;
}

.addButton:active{
  background: lightgreen;
}

.subButton:active{
  background: #EF9797;
}

.GridHeader-item{
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border-top: 10px solid #222;
  width: 25%;
}

.GH-item-border-right{
  border-right: 5px solid #222;
  box-sizing: border-box;
}

.GH-item-border-left{
  border-left: 5px solid #222;
  box-sizing: border-box;
}

.GridCell-icon{
  float: right;
  cursor: pointer;
}

.GridCell-icon:hover{
  color: red;
}

#Grid-form-container{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 200;
  position: fixed;
}

#Grid-form-content{
  width: 400px;
  height: 400px;
  justify-content: center;
  background: white;
  color: black;
  z-index: 300;
  left: 0;
  right: 0;
  border: 2px solid #222;
  border-radius: 3px;
  margin: 10% auto;
}
#Form-inputs{
  text-align: left;
  margin: 5px 0 0 10px;
}

#Form-title, #Form-desc{
  display: block;
  margin-top: 10px;
}

#Form-cell-title, #Form-cell-desc{
  margin-right: 5px;
}

#Grid-form-input, #Form-desc-input{
  right: 10px;
}

#Grid-form-input, #Form-cell-title, #Form-cell-desc, #Form-desc-input{
  display: inline-block;
}

#Grid-ok-button, #Grid-cancel-button{
  display: inline-block;
}
