#GridHeader-container{
  width: 100%;
  background: #f2f2f2;
}

#Grid-controls{
  display: block;
  text-align: left;
  padding: 20px;
  background: #f2f2f2;
}

#Grid-content{
  padding-top: 5px;
  background: #222;
  width: 100%;
}

#Grid-add-button{
  height: 40px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid grey;
  background: ghostwhite;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif !important;
  cursor: pointer;
}

#Grid-add-button:active{
  background: lightgray;
}

#Grid-add-button:focus{
  outline: none;
}

.GridCell-content{
  background: #f2f2f2;
  height: 200px;
  width: calc(25% - 22px);
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  float: left;
}

.name{
  display: block;
}

.total{
  display: block;
}

.addButton, .subButton{
  height: 40px;
  width: calc(50% - 10px);
  border-radius: 3px;
  border: 1px solid grey;
  background: ghostwhite;
  cursor: pointer;
  margin: 5px;
}

.addButton:focus, .subButton:focus{
  outline: none;
}

.addButton:active{
  background: lightgreen;
}

.subButton:active{
  background: #EF9797;
}

.GridHeader-item{
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border-top: 10px solid #222;
  width: 25%;
}

.GH-item-border-right{
  border-right: 5px solid #222;
  box-sizing: border-box;
}

.GH-item-border-left{
  border-left: 5px solid #222;
  box-sizing: border-box;
}

i{
  height:5px;
  width:5px;
}
